#webchat {
    flex: 1; /*Take up remaining space */
    background-color: #e4f2e4; /* Optional background color */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow */
    border: 1px solid #ccc;
    max-height: 90%;
    max-width: 100%;
    padding: 10px;
  }

/* Icons */
.webchat__send-icon,
.webchat__attachment-icon__icon {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Send box */
.webchat__send-box {
  position: relative;
  border-radius: 8px;
}

.webchat__send-box-text-box {
  align-items: start  !important;
  padding-top: 15px !important;
}
.webchat__send-box__text-box {
  align-items: start !important;
  padding-top: 15px !important;
}

/* Send box bottom line */
.webchat__send-box::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px; /* Adjust the height of the line as needed */
  background: linear-gradient(to right, #6ae56a, #006400); /* Green gradient */
}

/* Bubble content */
.webchat__bubble__content {
  border-radius: 8px !important; /* Increase specificity for bubble content */
}


.ac-pushButton {
  background-color: #61a321 !important;
  color: white !important;
  transition: background-color 0.3s, transform 0.2s !important;
}

.ac-pushButton:hover {
  background-color:  #66ca02 !important;
}

.ac-pushButton:focus {
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
}


.webchat__send-box-text-box__input,
.webchat__auto-resize-textarea,
.webchat__send-box-text-box__text-area 
 {
  /* Your styles here */
  height: 100% !important;
}

.webchat__suggested-actions__button {
  color: green !important;
  border-color: green !important;
  border-radius: 8px !important;
  height: 32px !important;
}

.app__div {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically in the center */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  margin-bottom: 5px;

}

.app__div:hover {
  background-color: rgba(102, 202, 2,0.8);
}

.app__text {
  flex: 6;
  overflow:hidden;
}

.app__dts {
  flex: 2;
  font-size: 11px;
}

.app__icon {
  flex: 1;
}

.historyButtons.material-symbols-outlined {
  margin-left: 10px;
  color: green; /* White text color */
  border: none; /* Remove default button border */
  transition: font-size 0.3s ease;
  font-size: 24px; /* Initial size of the icon */
  display: inline-block;
}

.historyButtons:hover {
  transform: scale(1.2); 
}


/* For the reactions / Cutting convo */

.botActivityDecorator {
  min-height: 60px;
  position: relative;
}

.botActivityDecorator .botActivityDecorator__content {
  padding-left: 40px;
}

.botActivityDecorator .botActivityDecorator__buttonBar {
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0;
  position: absolute;
}


.botActivityDecorator .botActivityDecorator__buttonBar .botActivityDecorator__button {
  font-size: 10px;
  margin-bottom: 2px;
  padding: 5px 5px 5px;
  border: none !important;
  background-color: rgba(0, 0, 0, 0);
  
}

.botActivityDecorator__button .material-symbols-outlined {
  font-size: 16px;
  color: green;
}